<h1>"Craftiki" වෙත ඔයාව ආදරයෙන් පිළිගන්නවා!</h1>

<div class="service-title">අපගේ සේවා</div>

<ul>
  <li>අපෙන් ඔයාලට ක්‍රාෆ්ටින්වලට ඕන කරන ඕනම අමුද්‍රව්‍යයක් මිල දී ගැනීමේ හැකියාව තියෙනවා.</li>
  <li>මීට අමතරව අපි ක්‍රාෆ්ටින් අයිටම් ඔයාලට ඕන විදියට හදලා දෙනවා. ඒ අයිටම් මොනවද කිව්වොත්...</li>
</ul>

<ol>
  <li>වෙඩින් කාඩ් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>වෙඩින් කේක් බොක්ස්</li>
  <li>වෙඩින් නේම් ටැග් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>ඩෙකරේට් කප් කේක් කප්/බොක්ස්</li>
  <li>පොප්සිකල් බොක්ස්</li>
  <li>කප් කේක් ලයිනර්ස්</li>
  <li>විසිටින් කාඩ් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>තැන්ක් යූ කාඩ් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>ඩිස්ප්ලේ කාඩ් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>ස්ටිකර්ස් (ඩිසයින් කිරීම සහ ප්‍රින්‍ට් කිරීම)</li>
  <li>ග්‍රැෆික් ඩිසයින් (ලෝගෝ, පෝස්ට්, චිත්‍ර... වගේ දේවල්)</li>
  <li>පබළු බෑග් වර්ග</li>
  <li>වෝල් ස්ටිකර්ස්</li>
  <li>කේක් ටොපර්ස් (ලේසර් කට්, ප්‍රින්ට්ඩ් ටොපර්ස් වර්ග)</li>
  <li>ඩයි කට්ස් (සමනල්ලු, මල්, කේක් ටොපර්ස්...)</li>
</ol>

<p>මේ වගේ ක්‍රාෆ්ටින් අයිටම් අපෙන් කස්ටමයිස් කර ගන්න පුළුවන්. විස්තර දැන ගන්න කතා කරන්න අපිට.</p>

<div class="thank-you">ස්තූතියි!</div>
