:host {
    display: block;
    font-family: 'Noto Sans Sinhala', sans-serif;
    padding: 40px;
    background-color: #fffaf4;
    color: #007bff;
    line-height: 2;
    font-size: 22px;
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  ul, ol {
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .service-title {
    margin-top: 30px;
    font-size: 26px;
    font-weight: bold;
  }
  
  .thank-you {
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
  }
  